@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #111827;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #384253;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #62738a;
  }